 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4> <strong>  Web Site </strong></h4>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>Hakkımızda</a><br />
                    <a href="/Home/MostLiked"> <span class="glyphicon glyphicon-star"></span>En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>Son Yazılar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4><strong> MyEverNote</strong></h4>
                <hr />
                <p>
                    Tüm hakları saklıdır <br />&copy;
                    MyEverNote @DateTime.Now.Year
                </p>
                <hr />
            </div>
            <div class="col-lg-4 text-center">
                <h4><strong> E-Bülten</strong></h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    <p>E-posta adresinizi bize gönderin. Sizinle iletişime geçelim.</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-Posta adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span>Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
